* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #24272C;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #b3b3b3;
    font-size: 1rem;
}

#container {
    width: fit-content;
    display: flex;
    margin: auto;
    padding: 30px;
    flex-direction: column;

    background: #24272C;
    box-shadow: -3px -3px 15px rgb(255 255 255 / 5%), 10px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 14px;

    align-items: center;
    justify-content: center;
}

#feature {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.btn.switch-mode, .btn.music {
    width: fit-content;
    margin: 0;
}

.btn.music.on {
    color: #83A3FF;
}

#avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background: #24272C;
    box-shadow: -3px -3px 15px rgb(255 255 255 / 5%), 10px 10px 20px rgb(0 0 0 / 25%);
}

#avatar img {
    width: 80%;
    height: 80%;
    border-radius: 200px;
}

#basic-info {
    margin: 20px auto 30px auto;
    padding: 0 20px;
}

#basic-info p {
    line-height: 1.5;
    margin-top: 7px;
    color: #7F8493;
}

#more-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn {
    font-size: 1rem;
    color: #b3b3b3;

    background: #24272C;
    box-shadow: -3px -3px 15px rgb(255 255 255 / 5%), 10px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 14px;

    margin: 10px auto;
    border: none;
    padding: 15px;
    width: 70%;
}

.btn:hover {
    color: #83A3FF;
    background: #24272C;
    box-shadow: inset -6px -6px 12px rgb(255 255 255 / 4%), inset 6px 6px 12px rgb(0 0 0 / 25%);
    border-radius: 14px;
    cursor: pointer;
}

.btn span {
    margin-left: 5px;
}

/* For mobile phones: */
@media only screen and (max-width: 546px) {
    body {
        background-color: #24272C;
        overflow-x: hidden;
    }

    #container {
        box-shadow: none;
        margin-top: 0px;
    }
}